tr
    th
        label
            input.checkbox(type="checkbox")

    td
        div.flex.items-center.space-x-3
            div.avatar

            div
                div.font-bold #{account.username}
                div.text-sm.opacity-50 #{account.email}
                if account.admin
                    div.badge.badge-warning Admin
                else
                    div.badge.badge-primary User

    td
        div.stats.w-full.stats-horizontal

            div.stat
                div.stat-title Uploads
                div.stat-value 31K

            
            div.stat
                div.stat-title Quota
                div.stat-value.text-sm 1mb/unlimited

    td 11/11/11
    th
        button.btn.btn-ghost.btn-xs details
