html(lang="en" data-theme="light")
    head
        include ../../../partials/head.pug
    header 
        include ../../../partials/header/adminHeader.pug
    body
        div.w-full.px-4.py-9(class="sm:px-40")
            div.flex.justify-between.mb-5
                h1.text-2xl.font-bold Users
                label(for="addUserModal" class="btn btn-primary") Add User


            div.overflow-x-auto.w-full
                table.table.w-full
                    <!-- head -->
                    thead
                        tr
                            th
                               label
                                    input.checkbox(type="checkbox")

                            th Name
                            th Stats
                            th Created
                            th

                    tbody
                        each account in accounts
                            include ./tables/tables.pug
                        end


        include ../../../partials/modals/users/addUser.pug

        script(src="/js/addUser.js")