
input.modal-toggle(type="checkbox" id="addUserModal")
div.modal
  div.modal-box.relative
    label.btn.btn-sm.btn-circle.absolute.right-2.top-2(for="addUserModal") X
    h3.text-lg.font-bold Add User
    div.mt-4
      label.block
        span.text-base-500 Username
        input.input.input-bordered.mt-1.block.w-full(type="text" id="username" name="username" placeholder="Username")
        p.text-sm.text-red-500.mt-1(id="usernameError")


    div.mt-4
      label.block
        span.text-base-500 Email
        input.input.input-bordered.mt-1.block.w-full(type="email" id="email" name="email" placeholder="Email")
        p.text-sm.text-red-500.mt-1(id="emailError")


    div.mt-4
      label.block
        span.text-base-500 Password
        input.input.input-bordered.mt-1.block.w-full(type="password" id="password" name="password" placeholder="Password")


    div.mt-4
      label.label.cursor-pointer
        span.label-text Admin
          i.fas.fa-shield-alt
        input.checkbox.checkbox-lg(id="admin" type="checkbox")



    div.modal-action
      button.btn.btn-primary(id="addUserBtn") Add user
 