<div class="navbar bg-base-200">
    <div class="navbar-start">
        <a class="btn btn-ghost normal-case text-xl">
            <div class="flex items-center">
                <img src="/img/logo/logo.png" class="w-8 h-8 mr-2" />
                <span class="text-2xl">Bone</span>
            </div>
        </a>

        if (user)
            <div class="navbar-item ml-10">
                
                <a href="/dashboard" class="btn btn-ghost normal-case text-lg">
                    <div class="flex items-center gap-3">
                        <span><i class="fas fa-dashboard"></i>
                        <span>Dashboard</span>
                    </div>
                </a>

                <a href="/dashboard/domains" class="btn btn-ghost normal-case text-lg">
                    <div class="flex items-center gap-3">
                        <span><i class="fas fa-earth"></i>
                        <span>Domains</span>
                    </div>
                </a>

                <a href="/dashboard/users" class="btn btn-ghost normal-case text-lg">
                    <div class="flex items-center gap-3">
                        <i class="fas fa-users"></i>
                        <span>Users</span>
                    </div>
                </a>
            </div>
        
    </div>

    if (user)

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="dropdown dropdown-end">
                    <label tabindex="0" class="btn btn-ghost">
                        <h1 class="text-xl font-bold">#{user.username} <i class="fas fa-caret-down"></i></h1>
                    </label>
                    <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-200 rounded-box w-52">
                        <li><a>My Account</a></li>
                        <li><a>Settings</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>



</div>