html(lang="en" data-theme="light")
    head
        include ../../partials/head.pug
    header 
        include ../../partials/header/userHeader.pug
    body
        include ../../partials/alerts/banner.pug


        div.w-full.px-40.py-24

            div.bg-base-200.p-10.rounded-xl

                h1.text-2xl.font-bold My Account


                div.px-5.py-5.mt-5.bg-base-100.rounded-xl

                    div.flex.justify-between

                        div.flex.flex-col

                            h1.text-2xl.font-bold #{user.username}
                            p.text-base #{user.email}


                        div.flex.flex-col

                            h1.text-2xl.font-bold.mb-2 1mb/unlimited
                            p.text-base Quota
                            div.flex.justify-center
                                progress.progress.progress-primary.w-56(value="60" max="100")

                    div.mt-5

                        button.btn.btn-primary Change Password


                div.px-5.py-5.mt-5.bg-base-100.rounded-xl

                    h1.text-2xl.font-bold API key

                    div.mt-5

                        div.form-control
                            div.input-group
                                input.input.w-full.input-bordered.blur-sm(type="text" id="blurBox" value=user.api_key readonly)
                                button.btn.btn-primary.btn-square
                                    i.fa-solid.fa-clipboard.fa-xl
                                button.btn.btn-primary.btn-square(id= "blurBtn")
                                    i.fa-solid.fa-eye-slash.fa-xl


                        button.btn.btn-primary.mt-5 Generate new key


                div.px-5.py-5.mt-5.bg-base-100.rounded-xl
                    h1.text-2xl.font-bold Create config

                    div.flex.flex-row.gap-5.mt-5
                        div.p-5.w-full.border-2.border-dashed.border-base-300.rounded-xl
                            h1.text-xl.font-bold ShareX
                            label.btn.btn-primary.mt-5(for="ShareXConfigModal") Get started


                        div.p-5.w-full.border-2.border-dashed.border-base-300.rounded-xl
                            h1.text-xl.font-bold Coming soon
                            p.text-base Other options coming soon...

            
                div.px-5.py-5.mt-5.bg-base-100.rounded-xl
                    
                    h1.text-2xl.font-bold Delete Account

                    div.mt-5

                        button.btn.btn-error Delete Account


        include ../../partials/modals/myAccount/createShareXConfig.pug

        script.
            const blurBtn = document.getElementById('blurBtn');
            const blurBox = document.getElementById('blurBox');
            blurBtn.addEventListener('click', () => {
                if (blurBox.classList.contains('blur-sm')) {
                    blurBox.classList.remove('blur-sm');
                    blurBtn.innerHTML = '<i class="fa-solid fa-eye fa-xl"></i>';
                } else {
                    blurBox.classList.add('blur-sm');
                    blurBtn.innerHTML = '<i class="fa-solid fa-eye-slash fa-xl"></i>';
                }
            });