<tr>
    <th>
    <label>
        <input type="checkbox" class="checkbox" />
    </label>
    </th>
    <td>
    <div class="flex items-center space-x-3">
        <div class="avatar">
        </div>
        <div>
            <div class="font-bold">#{account.username}</div>
            <div class="text-sm opacity-50">#{account.email}</div>
            if account.admin
                div.text-sm.text-red-500 Admin
            else
                div.text-sm.text-green-500 User
        </div>
    </div>
    </td>
    <td>
        <div class="stats w-full stats-horizontal">

            <div class="stat">
                <div class="stat-title">Uploads</div>
                <div class="stat-value">31K</div>
            </div>
            
            <div class="stat">
                <div class="stat-title">Quota</div>
                <div class="stat-value">1mb/unlimited</div>
            </div>
            
        </div>
        

    </td>
    <td>11/11/11</td>
    <th>
        <button class="btn btn-ghost btn-xs">details</button>
    </th>
</tr>