doctype html
html(lang="en")
    head
        include ../../partials/head.pug
    header 
        include ../../partials/header.pug
    body
        <div class="w-full px-40 py-9">
            <div class="overflow-x-auto w-full">
                <table class="table w-full">
                    <!-- head -->
                    <thead>
                        <tr>
                            <th>
                            <label>
                                <input type="checkbox" class="checkbox" />
                            </label>
                            </th>
                            <th>Name</th>
                            <th>stats</th>
                            <th>Created</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- row 1 -->
                        <tr>
                            <th>
                            <label>
                                <input type="checkbox" class="checkbox" />
                            </label>
                            </th>
                            <td>
                            <div class="flex items-center space-x-3">
                                <div class="avatar">
                                </div>
                                <div>
                                    <div class="font-bold">Markiemm</div>
                                    <div class="text-sm opacity-50">mark@markiemm.com</div>
                                    <span class="badge badge-warning">Admin</span>
                                </div>
                            </div>
                            </td>
                            <td>
                                <div class="stats w-full stats-horizontal">
  
                                    <div class="stat">
                                        <div class="stat-title">Uploads</div>
                                        <div class="stat-value">31K</div>
                                    </div>
                                    
                                    <div class="stat">
                                        <div class="stat-title">Quota</div>
                                        <div class="stat-value">1mb/unlimited</div>
                                    </div>
                                    
                                </div>
                                

                            </td>
                            <td>11/11/11</td>
                            <th>
                                <button class="btn btn-ghost btn-xs">details</button>
                            </th>
                        </tr>
                    </tbody>
                    
                </table>
            </div>
        
        </div>