if (typeof errors!='undefined')
    errors.forEach(function(error))
        div(class='alert alert-danger alert-dismissible fade show' role='alert')
            button(type='button' class='close' data-dismiss='alert' aria-label='Close')
                span(aria-hidden='true') &times;
            span= error

end


if (success!='')
    <div class="alert alert-success shadow-lg rounded-none px-5">
        <div>
            <i class="fas fa-check-circle fa-2x"></i>
            <span>#{success}</span>
        </div>
    </div>
end


if (warning!='')
    <div class="alert alert-warning shadow-lg rounded-none px-5">
        <div>
            <i class="fas fa-exclamation-circle fa-2x"></i>
            <span>#{warning}</span>
        </div>
    </div>
end





if (error!='')

    <div class="alert alert-error shadow-lg rounded-none px-5">
        <div>
            <i class="fa-regular fa-circle-xmark fa-2x"></i>
            <span>#{error}</span>
        </div>
    </div>
end