if (typeof errors!='undefined')
    errors.forEach(function(error))
        div.alert.alert-error.shadow-lg.rounded-none.px-5
            div
                i.fa-regular.fa-circle-xmark.fa-2x
                span #{error}

end


if (success!='')
    div.alert.alert-success.shadow-lg.rounded-none.px-5
        div
            i.fas.fa-check-circle.fa-2x
            span #{success}
end


if (warning!='')
    div.alert.alert-warning.shadow-lg.rounded-none.px-5
        div
            i.fas.fa-exclamation-circle.fa-2x
            span #{warning}
end


if (error!='')

    div.alert.alert-error.shadow-lg.rounded-none.px-5
        div
            i.fa-regular.fa-circle-xmark.fa-2x
            span #{error}
end