html(lang="en" data-theme="light")
    head
        include ../../../partials/head.pug
    header 
        include ../../../partials/header/adminHeader.pug
    body
        div(class="w-full px-4 sm:px-40 py-9")
            div.flex.justify-between.mb-5
                h1.text-2xl.font-bold Domains
                label(for="addDomainModal" class="btn btn-primary") Add Domain

            div.overflow-x-auto
                table.table.w-full
                    <!-- head -->
                    thead
                        tr
                            th
                            th Domain
                            th Actions

                    tbody
                        each domain in domains
                            include ./tables/tables.pug
                        end

        include ../../../partials/modals/domains/addDomain.pug

    script(src="/js/domains.js")