doctype html
html(lang="en" data-theme="light")
    head
        include ../../partials/head.pug
    body.bg-base-200
        include ../../partials/alerts/banner.pug
        div.hero.min-h-screen
            div
                div.flex.justify-center.flex-col-reverse(class="md:flex-row")
                    div.flex.flex-col.justify-center.items-center.text-center
                        img.w-20(src="/img/logo/logo.png" alt="Hero")
                        h1.mb-5.text-5xl.font-bold.bg-clip-text.text-transparent.bg-gradient-to-r.from-cyan-400.to-purple-400
                            | Bone

                div.card.w-full.shadow-2xl.bg-base-100
                    div.card-body
                        form(action="/login" method="POST")
                            div.form-control
                                label.label
                                    span.label-text Username
                                input.input.input-bordered(type="text" placeholder="username" id="username" name="username")

                                div.form-control
                                label.label
                                    span.label-text Password

                                input.input.input-bordered(type="password" placeholder="password" id="password" name="password")

                            div.form-control.mt-6
                                button.btn.btn-primary Login


                p.mt-6.text-center
                    a.link.link-hover(href="https://github.com/markiemm/Bone" target="_blank")
                        i.fa-brands.fa-github
                        span.ml-2 A node.js ShareX server