
input.modal-toggle(type="checkbox" id="addDomainModal")
div.modal
  div.modal-box.relative
    label.btn.btn-sm.btn-circle.absolute.right-2.top-2(for="addDomainModal") X
    h3.text-lg.font-bold Add domain
    div.mt-4
      label.block
        span.text-base-500 Domain
        input.input.input-bordered.mt-1.block.w-full(type="text" id="domain" name="domain" placeholder="example.com")
        p.text-sm.text-red-500.mt-1(id="domainError")


    div.mt-4
      label.label.cursor-pointer
        span.label-text Active
        input.checkbox.checkbox-lg(id="isActive" type="checkbox" checked="checked")


    div.mt-4
      label.label.cursor-pointer
        span.label-text Set as default
        input.checkbox.checkbox-lg(id="isDefault" type="checkbox")


    div.mt-4
      label.label.cursor-pointer
        span.label-text HTTPS
        input.checkbox.checkbox-lg(id="HTTPS" type="checkbox")


    div.modal-action
      button.btn.btn-primary(id="addDomainBtn" disabled) Add
