doctype html
html(lang="en")
    head
        include ../../partials/head.pug
    header 
        include ../../partials/header.pug
    body
        <div class="w-full px-40">

            <div class="w-full stats py-9">
  
                <div class="stat">
                    <div class="stat-figure text-primary">
                        <i class="fas fa-upload fa-2xl"></i>
                    </div>
                    <div class="stat-title">Total uploads</div>
                    <div class="stat-value text-primary">0</div>
                </div>
                
                <div class="stat">
                    <div class="stat-figure text-secondary">
                        <i class="fas fa-users fa-2xl"></i>
                    </div>
                    <div class="stat-title">Users</div>
                    <div class="stat-value text-secondary">0</div>
                </div>
                
                <div class="stat">
                    <div class="stat-figure text-secondary">
                        <i class="fa-solid fa-hard-drive fa-2xl"></i>
                    </div>
                    <div class="stat-title">Total size</div>
                    <div class="stat-value text-secondary">0 MB</div>
                </div>


            </div>

            <div class="bg-base-200 p-5 rounded-xl">
                <div class="flex justify-between">
                    <div>
                        <h1 class="text-2xl font-bold">Dashboard</h1>
                        <p class="text-base">Welcome to your dashboard, here you can view uploads</p>
                    </div>
                    <ul class="menu menu-horizontal bg-base-100 rounded-box">
                        <li><a><i class="fa-solid fa-grip"></i>Grid</a></li>
                        <li><a><i class="fa-solid fa-list mr-2"></i>List</a></li>
                    </ul>
                </div>
                <div class="flex flex-col gap-5 mt-5">

                    <div class="card w-full shadow-2xl bg-base-100">
                        <div class="card-body">
                            <div class="flex justify-between mb-5">
                                <div class="flex flex-col">
                                    <h1 class="text-2xl font-bold">test name</h1>
                                    <p class="text-base">11/11/11</p>
                                    <img class="rounded-xl w-64 mt-5" src="https://wallpaperaccess.com/full/109666.jpg">
                                </div>


                                <ul class="menu bg-base-100 p-2 rounded-box">
                                    <li>
                                        <a>
                                            <i class="fa-solid fa-eye"></i>
                                            <span class="ml-2">View</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fa-solid fa-trash"></i>
                                            <span class="ml-2">Delete</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fa-solid fa-download"></i>
                                            <span class="ml-2">Download</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fa-solid fa-tag"></i>
                                            <span class="ml-2">Tags</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card w-full shadow-2xl bg-base-100">
                        <div class="card-body">
                            <div class="flex justify-between mb-5">
                                <div class="flex flex-col">
                                    <h1 class="text-2xl font-bold">test name</h1>
                                    <p class="text-base">11/11/11</p>
                                    <img class="rounded-xl w-64 mt-5" src="https://wallpaperaccess.com/full/109666.jpg">
                                </div>


                                <ul class="menu bg-base-100 p-2 rounded-box">
                                    <li>
                                        <a>
                                            <i class="fa-solid fa-eye"></i>
                                            <span class="ml-2">View</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fa-solid fa-trash"></i>
                                            <span class="ml-2">Delete</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fa-solid fa-download"></i>
                                            <span class="ml-2">Download</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fa-solid fa-tag"></i>
                                            <span class="ml-2">Tags</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card w-full shadow-2xl bg-base-100">
                        <div class="card-body">
                            <div class="flex justify-between mb-5">
                                <div class="flex flex-col">
                                    <h1 class="text-2xl font-bold">test name</h1>
                                    <p class="text-base">11/11/11</p>
                                    <img class="rounded-xl w-64 mt-5" src="https://wallpaperaccess.com/full/109666.jpg">
                                </div>


                                <ul class="menu bg-base-100 p-2 rounded-box">
                                    <li>
                                        <a>
                                            <i class="fa-solid fa-eye"></i>
                                            <span class="ml-2">View</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fa-solid fa-trash"></i>
                                            <span class="ml-2">Delete</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fa-solid fa-download"></i>
                                            <span class="ml-2">Download</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fa-solid fa-tag"></i>
                                            <span class="ml-2">Tags</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        
        </div>