doctype html
html(lang="en" data-theme="light")
    head
        include ../../partials/head.pug
    header 
        include ../../partials/header/userHeader.pug
    body
        div.w-full.px-40

            div.w-full.stats.py-9
  
                div.stat
                    div.stat-figure.text-primary
                        i.fas.fa-upload.fa-2xl

                    div.stat-title Total uploads
                    div.stat-value.text-primary 0

                
                div.stat
                    div.stat-figure.text-secondary
                        i.fa-solid.fa-hard-drive.fa-2xl

                    div.stat-title Total size
                    div.stat-value.text-secondary 0 MB


            div.bg-base-200.p-5.rounded-xl
                div.flex.justify-between
                    div
                        h1.text-2xl.font-bold Dashboard
                        p.text-base Welcome to your dashboard, here you can view uploads

                    ul.menu.menu-horizontal.bg-base-100.rounded-box
                        li
                            a 
                                i.fa-solid.fa-list List
                        li
                            a
                                i.fa-solid.fa-grip Grid



                div.flex.flex-col.gap-5.mt-5

                    div.card.w-full.shadow-2xl.bg-base-100
                        div.card-body
                            div.flex.justify-between.mb-5
                                div.flex.flex-col
                                    h1.text-2xl.font-bold test name
                                    p.text-base 11/11/11
                                    img.rounded-xl.w-64.mt-5(src="https://wallpaperaccess.com/full/109666.jpg")



                                ul.menu.bg-base-100.p-2.rounded-box
                                    li
                                        a
                                            i.fa-solid.fa-eye
                                            span.ml-2 View

                                    li
                                        a
                                            i.fa-solid.fa-trash
                                            span.ml-2 Delete

                                    li
                                        a
                                            i.fa-solid.fa-download 
                                            span.ml-2 Download
   
                                    li
                                        a
                                            i.fa-solid.fa-tag
                                            span.ml-2 Tags
    
