
input.modal-toggle(type="checkbox" id="ShareXConfigModal")
div.modal

    div.modal-box.relative

        label.btn.btn-sm.btn-error.btn-circle.absolute.right-2.top-2(for="ShareXConfigModal") X
        h3.text-lg.font-bold Create ShareX config
        
        div.mt-4

            label.block
                span.text-base-500 Name
                input.input.input-bordered.mt-1.block.w-full(for="input" type="text" id="name" name="name" placeholder="My upload")



        // domain

        div.mt-4
            label.block
                span.text-base-500 Domain
                select.input.input-bordered.mt-1.block.w-full(for="input" id="domain")
                    option(disabled selected) Select one
                    for domain in domains
                        option(value=domain.domain)= domain.domain
                        


        div.modal-action
            button.btn.btn-primary(id="createConfig") Download


script.

    const createConfigBtn = document.getElementById('createConfig');
    createConfigBtn.addEventListener('click', () => {
        const nameValue = document.getElementById('name').value;
        const domainValue = document.getElementById('domain').value;

        if (nameValue && domainValue !== 'Select one') {
            fetch('/myAccount/create-sharex-config', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    name: nameValue,
                    domain: domainValue
                })
            }).then(res => res.json()).then(data => {
                const dataParse = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(data, null, 4));
                const downloadAnchorNode = document.createElement('a');
                downloadAnchorNode.setAttribute("href", dataParse);
                downloadAnchorNode.setAttribute("download","ShareX config - " + nameValue + ".sxcu");
                document.body.appendChild(downloadAnchorNode);
                downloadAnchorNode.click();
                downloadAnchorNode.remove();


            })
        } else {
            alert('Please fill in all fields');
        }
    })