
input.modal-toggle(type="checkbox" id="ShareXConfigModal")
div.modal

    div.modal-box.relative

        label.btn.btn-sm.btn-error.btn-circle.absolute.right-2.top-2(for="ShareXConfigModal") X
        h3.text-lg.font-bold Create ShareX config
        
        div.mt-4

            label.block
                span.text-base-500 Name
                input.input.input-bordered.mt-1.block.w-full(for="input" type="text" id="name" name="name" placeholder="My upload")


        // destination type

        div.mt-4
            label.block
                span.text-base-500 Destination type
                select.input.input-bordered.mt-1.block.w-full(for="input" id="destinationType" name="destinationType")
                    option(value="ImageUploader, TextUploader, FileUploader") Image, Text and File uploader
                    option(value="ImageUploader") Image uploader
                    option(value="TextUploader") Text uploader
                    option(value="FileUploader") File uploader


        // domain

        div.mt-4
            label.block
                span.text-base-500 Domain
                select.select.select-bordered.w-full.max-w-xs(for="input" id="domain")
                    option(disabled selected) Select one
                    for domain in domains
                        option(value=domain.id)= domain.domain
                        


        div.modal-action
            button.btn.btn-primary(id="createConfig") Download


script.

    const createConfigBtn = document.getElementById('createConfig');
    createConfigBtn.addEventListener('click', () => {
        const nameValue = document.getElementById('name').value;
        const destinationTypeValue = document.getElementById('destinationType').value;
        const domainValue = document.getElementById('domain').value;

        if (nameValue && destinationTypeValue && domainValue !== 'Select one') {
            fetch('/myAccount/createShareXConfig', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    name: nameValue,
                    destinationType: destinationTypeValue,
                    domain: domainValue
                })
            }).then(res => res.json()).then(data => {
                if (data.success) {
                    window.location.reload();
                }
            })
        } else {
            alert('Please fill in all fields');
        }
    })