div.w-full.px-20.mt-24

    div.bg-base-200.p-10.rounded-xl

        h1.text-2xl.font-bold Stats


        div.px-5.py-5.mt-5.rounded-xl.bg-gradient-to-r.from-primary.to-secondary

            div

                div.stats.w-full

                    div.stat
                        div.stat-figure.text-primary
                            i.fa.fa-users.fa-2x

                        div.stat-title Users
                        div.stat-value.text-primary 3

                    
                    div.stat
                        div.stat-figure.text-purple-500
                            i.fa.fa-upload.fa-2x

                        div.stat-title Uploads
                        div.stat-value.text-purple-500 25

                    
                    div.stat
                        div.stat-figure.text-secondary
                            i.fa.fa-hard-drive.fa-2x

                        div.stat-title Total size
                        div.stat-value.text-secondary 2.6MB